<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^((?s).*)$ service.php?_url=/$1 [QSA,L]
</IfModule>

/**
hier would redirect to service.php with for example localhost/serverPHPDAO/order
here ist order bes
**/


